page-contact {
    .userinfo {
        width: 100%;
        height: 150px;
        background-color: #337ab7;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 10px;
      }

      .bg-color{
        background-color: #efeeee;
      }
    
      .top-list{
        margin-top: 15px;
      }
    ion-icon {
      color: #515151;
    }
}
