<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ 'personal' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-color">
  <ion-list margin-top>
    <a ion-item (click)="openModal()" *ngIf="hasLogin">
      <ion-avatar item-left>
        <img src="{{loginUser.avatar}}" />
      </ion-avatar>
      <h2>{{loginUser.userName}}</h2>
      <p>{{ 'nick_name' | translate }}: {{loginUser.nickName}}</p>
    </a>
    <a ion-item (click)="gotoLogin()" *ngIf="!hasLogin">
      <ion-avatar item-left>
        <img src="./assets/imgs/user-unlogin.png" />
      </ion-avatar>
      <a>{{ 'please_login' | translate }}</a>
    </a>
  </ion-list>

  <ion-list>
    <button ion-item (click)="gotoHome(false)">
      <ion-icon name="ios-add-circle-outline" item-start color="primary"></ion-icon>
      {{ 'my_publish' | translate}}
    </button>
    <button ion-item (click)="gotoHome(true)">
      <ion-icon name="star-outline" item-start color="danger"></ion-icon>
      {{ 'my_favorite' | translate}}
    </button>
    <button ion-item (click)="shareItem()">
      <ion-icon name="share" item-start color="primary"></ion-icon>
      {{ 'my_share' | translate}}
    </button>
    <button ion-item (click)="callPhone()">
      <ion-icon name="call" item-start color="secondary"></ion-icon>
      {{ 'contact' | translate}}
    </button>
  </ion-list>

  <ion-list>
    <button ion-item (click)="openMessage()">
      <ion-icon name="ios-mail-outline" item-start color="primary"></ion-icon>
      {{ 'my_messages' | translate }}
    </button>
    <button ion-item (click)="clearStorage()">
      <ion-icon name="trash" item-start color="danger"></ion-icon>
      {{ 'clean_cache' | translate }}
    </button>
    <button ion-item (click)="showAbout()">
      <ion-icon name="ios-information-circle-outline" item-start color="secondary"></ion-icon>
      {{ 'about' | translate }}
    </button>
  </ion-list>

  <div padding-left padding-right *ngIf="hasLogin">
    <button ion-button block text-capitalize (click)="logout()">
      {{ 'logout_key' | translate }}
    </button>
  </div>
</ion-content>